<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ad_stu_serach</servlet-name>
        <servlet-class>Ad_stu_serach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ad_stu_update</servlet-name>
        <servlet-class>ad_stu_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parent</servlet-name>
        <servlet-class>parent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_profile</servlet-name>
        <servlet-class>student_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_update</servlet-name>
        <servlet-class>student_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacher</servlet-name>
        <servlet-class>teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_profile_update</servlet-name>
        <servlet-class>student_profile_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admission</servlet-name>
        <servlet-class>admission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admission_student</servlet-name>
        <servlet-class>admission_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>account</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ad_stu_serach</servlet-name>
        <url-pattern>/Ad_stu_serach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ad_stu_update</servlet-name>
        <url-pattern>/ad_stu_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parent</servlet-name>
        <url-pattern>/parent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_profile</servlet-name>
        <url-pattern>/student_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_update</servlet-name>
        <url-pattern>/student_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_profile_update</servlet-name>
        <url-pattern>/student_profile_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admission</servlet-name>
        <url-pattern>/admission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admission_student</servlet-name>
        <url-pattern>/admission_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
